<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>招聘信息-爱洛阳人才网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="骑士CMS">
    <meta name="copyright" content="74cms.com">
    <style type="text/css">
        #frame2 {
            height: 40px;
        }
        #frame1 {
            height: 95px;
        }
    </style>

    <link rel="shortcut icon" href="https://zhaopin.iluoyang.com/favicon.ico">
    <script src="../inviteMessage/hm.js"></script><script src="../inviteMessage/jquery_005.js"></script>
    <script src="../inviteMessage/htmlspecialchars.js"></script>
    <link href="../inviteMessage/common.css" rel="stylesheet" type="text/css">
    <link href="../inviteMessage/jobs.css" rel="stylesheet" type="text/css">
    <script src="../inviteMessage/jquery_007.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="../inviteMessage/6f557ceaff36b5f87598d5441e0a6ba3.js"></script>	</head>
    <script type="text/javascript">
       /* var state=0;
        $(function () {
            $(".J_hoverbut").click(function () {
                state=1;
            });
            if(state==1){
                alert("state等于1")
            }
            alert(state)
        })*/
    </script>
<body>
<div class="header_min" id="header">
<div class="other_top_nav">
    <div class="ot_nav_box">
        <div class="ot_nav_logo"><a href="https://zhaopin.iluoyang.com/">
            <img src="../inviteMessage/logo_home.png" border="0"></a></div>

        <div class="ot_nav_sub">
        </div>
        <div class="ot_nav_link ">
            <ul class="link_gray6 nowrap">
                <li class="on_li J_hoverbut">
                    <a th:href="@{../CustomerCon/queryCusMg(cus_id=${cusList[0].cus_id})}" target="_parent">首  页</a>
                </li>
                <li class="on_li J_hoverbut">
                    <a id="zgz" href="../areaCon/queryAre" target="_parent">找工作</a>
                </li>
                <li class="on_li J_hoverbut">
                    <a id="zrc" href="../resumeCon/QueryAll" target="_parent">招人才</a>
                </li>
                <li class="on_li J_hoverbut">
                    <a id="zwfl" href="../IndustryCon/Ind_query" target="_parent">职位分类</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>
<script type="text/javascript" src="../inviteMessage/jquery_003.js"></script>

</body></html>