<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>招聘信息-爱洛阳人才网</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="骑士CMS">
<meta name="copyright" content="74cms.com">
<link rel="shortcut icon" href="https://zhaopin.iluoyang.com/favicon.ico">
<script src="../inviteMessage/hm.js"></script><script src="../inviteMessage/jquery_005.js"></script>
<script src="../inviteMessage/htmlspecialchars.js"></script>
<script src="../inviteMessage/gt.js"></script><script type="text/javascript">
	var app_spell = "1";
	var qscms = {
		base : "",
		keyUrlencode:"0",
		domain : "http://zhaopin.iluoyang.com",
		root : "/index.php",
		companyRepeat:"0",
		regularMobile: /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$|16[0-9]{9}$|19[0-9]{9}$/,
		district_level : "2",
		smsTatus: "1",
		captcha_open:"0",
		varify_mobile:"0",
		varify_suggest:"0",
        varify_user_login:"",
		is_login:"1",
		default_district : "1",
		default_district_spell : "jianxiqu",
        subsite: "0"
	};
    function detailData(obj){
        var pos_id=$(obj).children("input").val();
        location.href="../areaCon/queryAre?pos_id="+pos_id;
    }
</script>
	<link href="../inviteMessage/common.css" rel="stylesheet" type="text/css">
	<link href="../inviteMessage/jobs.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #frame2 {
            height: 40px;
        }
        #frame1 {
            height: 95px;
        }
    </style>
	<script src="../inviteMessage/jquery_007.js" type="text/javascript" language="javascript"></script>
	<script type="text/javascript" src="../inviteMessage/6f557ceaff36b5f87598d5441e0a6ba3.js"></script>	</head>
<body>
<iframe id="frame2" src="../CustomerCon/topData" name="frame_top" frameborder="0" height="100%" width="100%" scrolling="auto"></iframe>
<iframe id="frame1" src="../CustomerCon/show_head" name="frame_name" frameborder="0" height="100%" width="100%" scrolling="auto"></iframe>
<script type="text/javascript" src="../inviteMessage/jquery_003.js"></script>
<script type="text/javascript">
    // 先获取到子页面的window对象，然后在调用
    window.onload = function() {
        var ifra = document.getElementById("frame1");
        ifra.contentWindow.document.getElementById("zwfl").style.color="#1787fb";
    }
</script>
<!--搜索 -->
<div class="new-search-box" style="background-image: url(../inviteMessage/sebanner2.jpg);">
    <div class="ns-main">
        <div class="main-sty">
                            <div class="sty-cell J_sli_jc select" data-type="full">全文<div class="sty-aow"></div></div>
                    <div class="sty-cell J_sli_jc" data-type="jobs">搜职位<div class="sty-aow"></div></div>
                                <div class="sty-cell J_sli_jc" data-type="company">搜企业<div class="sty-aow"></div></div>            <div class="clear"></div>
        </div>
        <div class="main-sip">
            <div class="ip-group">
                <form id="ajax_search_location" action="/ajax_common/ajax_search_location/type/QS_jobslist.html" method="get">
                    <div class="ip-box"><input type="text" name="key" id="autoKeyInput" placeholder="请输入关键字" autocomplete="off"></div>
                    <div class="for-border"></div>
                    <div class="ip-city" data-toggle="funCityModal" data-title="请选择地区" data-multiple="false" data-maximum="0" data-width="630">选择地区</div>
                    <input type="hidden" name="search_type" value="full">
                    <input id="searchCityModalCode" type="hidden" name="citycategory" value="">
					<input id="recoverSearchCityModalCode" type="hidden" name="citycategory" value="">
                    <input type="hidden" name="lng" id="lng" value="">
                    <input type="hidden" name="lat" id="lat" value="">
                    <input type="hidden" name="ldLng" id="ldLng" value="">
                    <input type="hidden" name="ldLat" id="ldLat" value="">
                    <input type="hidden" name="ruLng" id="ruLng" value="">
                    <input type="hidden" name="ruLat" id="ruLat" value="">
                    <div class="ip-btn"><input type="submit" class="sobut J_hoverbut" value="找工作"></div>
                </form>
            </div>
            <div class="ip-txt link_white"><a href="javascript:;" id="popupBox">地图找工作</a></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="allclass_1 link_gray6">
	<div class="list" th:each="ind:${IndList}">
		<div class="ll">
			<div class="t">

				<li><strong class="lil" th:text="${ind.ind_name}" onclick="javascript:location.href=''"></strong></li>
			</div>
		</div>
		<div class="lr">
            <li class="lir" th:each="p:${ind.position}" onclick="detailData(this)" leibie="cantfwy">
                <span th:text="${p.pos_name}"></span>
                <input type="hidden" th:value="${p.pos_id}"/>
            </li>
		</div>
		<div class="clear"></div>
	</div>
</div>
<input type="hidden" class="map-lng" value="112.362712">
<input type="hidden" class="map-lat" value="34.660452">
<div class="footer_min" id="footer">
	<div class="links link_gray6">
	<a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=index&amp;a=index">网站首页</a>
	
	|   <a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=10&amp;type_id=1">服务条款</a>|   <a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=9&amp;type_id=1">隐私声明</a>|   <a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=7&amp;type_id=1">联系我们</a>|   <a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=6&amp;type_id=1">推广合作</a>|   <a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=1&amp;type_id=1">网站介绍</a>	|   <a target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=suggest&amp;a=index">意见建议</a>
	</div>
	<div class="txt">

		联系地址：洛阳市涧西区龙裕路1号国家大学科技园3号楼B座5层      联系电话：15515361075<br>

		©2017 洛阳魅力网络信息服务有限公司 版权所有     <a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备14000715号-1</a>		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8066e845122dbe9036ea4784109213e2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

	</div>
</div>

<div class="">
	<div class=""></div>
</div>
<!--[if lt IE 9]>
	<script type="text/javascript" src="/Application/Home/View/default/public/js/PIE.js"></script>
<![endif]-->
<script type="text/javascript" src="../inviteMessage/jquery_004.js"></script><div class="disappear_tooltip pie_about" style="left: 719.5px; top: 329px;"><div class="icon"></div><div class="content"></div></div>
<div class="floatmenu">
<div class="item mobile">
    <a class="blk"></a>
        <div class="popover">
      <div class="popover-bd">
        <label class="wx">企业微信</label>
        <span class="img-qrcode img-qrcode-wechat"><img src="../inviteMessage/5d23e2f8425a1.png" alt=""></span>
      </div>
      <div class="popover-arr"></div>
    </div>  </div>  <div class="item ask">
    <a class="blk" target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=suggest&amp;a=index"></a>
  </div>
  <div id="backtop" class="item backtop" style="display: none;"><a class="blk"></a></div>
</div>
<script language="JavaScript">

var global = {
    h:$(window).height(),
    st: $(window).scrollTop(),
    backTop:function(){
      global.st > (global.h*0.5) ? $("#backtop").show() : $("#backtop").hide();
    }
  }
  $('#backtop').on('click',function(){
    $("html,body").animate({"scrollTop":0},500);
  });
  global.backTop();
  $(window).scroll(function(){
      global.h = $(window).height();
      global.st = $(window).scrollTop();
      global.backTop();
  });
  $(window).resize(function(){
      global.h = $(window).height();
      global.st = $(window).scrollTop();
      global.backTop();
  });
  // 客服QQ
  var app_qq = "";
  var qq_open = "";
  if(app_qq != '' && qq_open == 1){
      var QQFloatUrl = "/qqfloat/index/index.html";
      $.getJSON(QQFloatUrl, function (result) {
          if (result.status == 1) {
              //$(".qq-float").html(result.data);
              $("body").append(result.data);
          }
      });
  }
</script>
<script type="text/javascript" src="../inviteMessage/jquery_006.js"></script>
<script type="text/javascript" src="../inviteMessage/jquery_002.js"></script>
<script type="text/javascript" src="../inviteMessage/jquery_003.js"></script>
<script type="text/javascript" src="../inviteMessage/api"></script><script type="text/javascript" src="../inviteMessage/getscript"></script>
<script type="text/javascript" src="../inviteMessage/jquery.js"></script>
<script type="text/javascript" src="../inviteMessage/jquery_008.js"></script>
<script type="text/javascript">
	// 搜索类型切换
	$('.J_sli_jc').click(function() {
		$(this).addClass('select').siblings().removeClass('select');
		var indexValue = $('.J_sli_jc').index(this);
		var typeValue = $.trim($(this).data('type'));
		if (typeValue == 'company') {
	        $('#ajax_search_location').attr('action', "/ajax_common/ajax_search_location/type/QS_companylist.html");
	    } else {
	        $('#ajax_search_location').attr('action', "/ajax_common/ajax_search_location/type/QS_jobslist.html");
	    }
		$('input[name="search_type"]').val(typeValue);
	});
	$('.J_jobIndexCategory').hover(function() {
		$(this).addClass('select').siblings().removeClass('select');
		var thisIndex = $('.J_jobIndexCategory').index(this);
		$('.J_jobIndexCategoryBox').eq(thisIndex).show().siblings('.J_jobIndexCategoryBox').hide();
	});
    var qsMapUrl = "/index.php?m=&c=jobs&a=jobs_list&lng=lngVal&lat=latVal&ldLng=ldLngVal&ldLat=ldLatVal&ruLng=ruLngVal&ruLat=ruLatVal&range=20";
    // 关键字联想
    var hotKey = $('#autoKeyInput').autocomplete({
        serviceUrl:"/ajax_common/hotword.html",
        minChars:1,
        maxHeight:400,
        width:276,
        zIndex: 1,
        deferRequestBy: 0
    });
</script><div id="AutocompleteContainter_d3cfd" style="position: absolute; z-index: 10000; top: 232.8px; left: 351.6px;"><div class="autocomplete-w1"><div class="autocomplete" id="Autocomplete_d3cfd" style="display: none; width: 276px; max-height: 400px;"></div></div></div>

</body></html>