<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>已申请的职位-个人会员中心-爱洛阳人才网</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="骑士CMS">
<meta name="copyright" content="74cms.com">
<link rel="shortcut icon" href="https://zhaopin.iluoyang.com/favicon.ico">
<link rel="canonical" href="https://zhaopin.iluoyang.com/personal/jobs_apply.html"><script src="../jobApp/jquery_004.js"></script>
<script src="../jobApp/htmlspecialchars.js"></script>
<script src="../jobApp/gt.js"></script><script type="text/javascript">
	var app_spell = "1";
	var qscms = {
		base : "",
		keyUrlencode:"0",
		domain : "http://zhaopin.iluoyang.com",
		root : "/index.php",
		companyRepeat:"0",
		regularMobile: /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$|16[0-9]{9}$|19[0-9]{9}$/,
		district_level : "2",
		smsTatus: "1",
		captcha_open:"0",
		varify_mobile:"0",
		varify_suggest:"0",
        varify_user_login:"",
		is_login:"1",
		default_district : "1",
		default_district_spell : "jianxiqu",
        subsite: "0"
	};
    /*ie兼容 Promise*/
    isIE();
    function isIE() {
        if ( !! window.ActiveXObject || "ActiveXObject" in window) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "/Application/Home/View/default/public/js/bluebird.js";
            document.getElementsByTagName('head')[0].appendChild(script);
        }
    }

</script>
		<link href="../jobApp/common.css" rel="stylesheet" type="text/css">
		<link href="../jobApp/personal_job.css" rel="stylesheet" type="text/css">
		<link href="../jobApp/personal_ajax_dialog.css" rel="stylesheet" type="text/css">
		<script src="../jobApp/jquery_002.js" type="text/javascript" language="javascript"></script>
	</head>
	<body>
<script>
    // 搜索
    $('#ajax_search_location').submit(function(){
        var nowKeyValue = $.trim($('input[name="key"]').val());
        var orgKeyValue = $.trim($('input[name="key"]').data('original'));
        if(nowKeyValue.length && nowKeyValue.length<2){
            disapperTooltip("remind",'关健字长度需大于2个字！');
            return !1;
        }
        if (!(nowKeyValue == orgKeyValue)) {
            $('.J_forclear').val('');
        }
        $('input[name="key"]').val(htmlspecialchars($('input[name="key"]').val()));
        var post_data = $('#ajax_search_location').serialize();
        if(qscms.keyUrlencode==1){
            post_data = encodeURI(post_data);
        }
        $.post($('#ajax_search_location').attr('action'),post_data,function(result){
            window.location=result.data;
        },'json');
        return false;
    });
    // 签到
    $('#J_sign_in').click(function(){
        var f = $(this);
        $.getJSON("/members/sign_in.html",function(result){
            if(result.status == 1){
                disapperTooltip("goldremind", '每天签到增加'+result.data+'积分<span class="point">+'+result.data+'</span>');
                f.addClass('gr').text('已签到');
                $(".J_points_num").html(parseInt($(".J_points_num").html())+parseInt(result.data));
            }else{
                disapperTooltip('remind',result.msg);
            }
        });
    });
</script>
			<div class="mainbox">
				<!--职位切换卡 -->
				<div class="tab">
					<a class="li J_hoverbut" th:href="@{../InvitedCon/queryInv(cus_id=${session.sessionCusList[0].cus_id})}">面试邀请</a>
					<a class="li select">已申请职位</a>
					<a class="li J_hoverbut" href="https://zhaopin.iluoyang.com/personal/attention_me.html">谁在关注我</a>
					<a class="li J_hoverbut" href="https://zhaopin.iluoyang.com/personal/attention_jobs.html">浏览过的职位</a>
					<div class="clear"></div>
				</div>
				<!--切换卡结束 -->

				<div class="resume_tip">
					<div class="tiptit">小提示</div>
					<div class="tiptxt link_blue">
						如果投递简历后7天内没有得到反馈，说明你获得面试机会的几率很低！
					</div>
				</div>

				<div class="apply_jobs_list_th">
					<div class="th1">申请的职位</div>
					<div class="th2">公司名称</div>
					<div class="th3">
						投递反馈
					</div>
					<div class="th4">
						投递时间
					</div>
					<!--<div class="th5">操作</div>-->
					<div class="clear"></div>
				</div>
				<form id="form1" action="/personal/del_jobs_apply.html" method="post" class="J_allListBox">
						<div class="apply_jobs_list J_hoverbut" th:if="${delList!=null}" th:each="d:${delList}">
									<div class="td1 link_blue substring">
										<input class="J_allList" name="y_id[]" type="checkbox" value="21415">
										&nbsp;<a href="https://zhaopin.iluoyang.com/jobs/22652.html" target="_blank" th:text="${d.iss_name}">贝壳网洛龙区急聘房产销售</a>
									</div>
									<div class="td2 link_gray6 substring">
										<a href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=jobs&amp;a=com_show&amp;id=3697" target="_blank" th:text="${d.ent_name}">洛阳洛港房产经纪有限公司</a>
									</div>
									<div class="td3 n" th:text="${d.del_state==1?'企业未处理':'企业已接受'}"></div>
																			<div class="td4" th:text="${d.del_time}">2020-09-03</div>
									<!--<div class="td5">
										<a href="javascript:;" url="/personal/del_jobs_apply/y_id/21415.html" class="but2 J_hoverbut delete"></a>
										<div class="clear"></div>
									</div>-->
									<div class="clear"></div>
								</div>
														<div class="apply_jobs_list_but">
							<div class="td1">
								<input class="J_allSelected" type="checkbox">
							</div>
							<div class="td2">
								<div class="but_gray_80_32 J_hoverbut delall">删除</div>
							</div>
							<div class="clear"></div>
						</div>
					</form>
					<div class="qspage"> <a class="unable">上一页</a>  <span class="current">1</span> <a class="unable">下一页</a>  </div>
								</div>
			<div class="clear"></div>
		</div>
		<div class="user_foot font_gray9" id="footer">©2017 洛阳魅力网络信息服务有限公司 版权所有</div>
<div class="floatmenu">
<div class="item mobile">
    <a class="blk"></a>
        <div class="popover">
      <div class="popover-bd">
        <label class="wx">企业微信</label>
        <span class="img-qrcode img-qrcode-wechat"><img src="../jobApp/5d23e2f8425a1.png" alt=""></span>
      </div>
      <div class="popover-arr"></div>
    </div>  </div>  <div class="item ask">
    <a class="blk" target="_blank" href="https://zhaopin.iluoyang.com/index.php?m=&amp;c=suggest&amp;a=index"></a>
  </div>
  <div id="backtop" class="item backtop" style="display: none;"><a class="blk"></a></div>
</div>
<script type="text/javascript" src="../jobApp/jquery_003.js"></script>
<script type="text/javascript" src="../jobApp/jquery_007.js"></script>
<script type="text/javascript" src="../jobApp/jquery_006.js"></script><div class="disappear_tooltip pie_about" style="left: 719.5px; top: 329px;"><div class="icon"></div><div class="content"></div></div>
<script type="text/javascript" src="../jobApp/jquery_005.js"></script>
<script type="text/javascript" src="../jobApp/jquery.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="/Application/Home/View/default/public/js/PIE.js"></script>
  <script type="text/javascript">
    (function($){
        $.pie = function(name, v){
            // 如果没有加载 PIE 则直接终止
            if (! PIE) return false;
            // 是否 jQuery 对象或者选择器名称
            var obj = typeof name == 'object' ? name : $(name);
            // 指定运行插件的 IE 浏览器版本
            var version = 9;
            // 未指定则默认使用 ie10 以下全兼容模式
            if (typeof v != 'number' && v < 9) {
                version = v;
            }
            // 可对指定的多个 jQuery 对象进行样式兼容
            if ($.browser.msie && obj.size() > 0) {
                if ($.browser.version*1 <= version*1) {
                    obj.each(function(){
                        PIE.attach(this);
                    });
                }
            }
        }
    })(jQuery);
    if ($.browser.msie) {
      $.pie('.pie_about');
    };
  </script>
<![endif]-->
<script type="text/javascript">
	var global = {
    h:$(window).height(),
    st: $(window).scrollTop(),
    backTop:function(){
      global.st > (global.h*0.5) ? $("#backtop").show() : $("#backtop").hide();
    }
  }
  $('#backtop').on('click',function(){
    $("html,body").animate({"scrollTop":0},500);
  });
  global.backTop();
  $(window).scroll(function(){
      global.h = $(window).height();
      global.st = $(window).scrollTop();
      global.backTop();
  });
  $(window).resize(function(){
      global.h = $(window).height();
      global.st = $(window).scrollTop();
      global.backTop();
  })
  // 强制手机认证
  </script>
		<script type="text/javascript" src="../jobApp/jquery_008.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				// 全部删除
				$(".delall").live("click", function() {
					var listCheckedArray = $(".J_allListBox .J_allList:checked");
					if (listCheckedArray.length) {
						var url = $("#form1").attr("action");
						var qsDialog = $(this).dialog({
							title: "删除职位申请",
							loading: true,
							border: false,
							yes: function() {
								$("#form1").submit();
							}
						});
						$.getJSON(url, function(result) {
							if (result.status == 1) {
								qsDialog.setContent(result.data.html);
							} else {
								disapperTooltip("remind", result.msg);
							}
						});
					} else {
						disapperTooltip("remind", "请选择要删除的数据");
					}
				});
				$(".delete").click(function() {
					var url = $(this).attr("url");
					var qsDialog = $(this).dialog({
						title: "删除职位申请",
						loading: true,
						border: false,
						yes: function() {
							window.location.href = url;
						}
					});
					$.getJSON(url, function(result) {
						if (result.status == 1) {
							qsDialog.setContent(result.data.html);
						} else {
							disapperTooltip("remind", result.msg);
						}
					});
				});
			});
		</script>
	
</body></html>